lib/
target/
node_modules/
dist/
*.node
yarn-*.log
*.artifacts
tmp/
*.pc.d.ts
*.pc.js
*.pc.css
*.vsix
*.DS_Store
lerna-debug.log
@paperclipui/html.tmLanguage.json



.yarn/*
*.map
.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.paperclip
*.tgz
*.mjs
pc-coverage
pc-diff
