

:root {
  --light-grey: rgb(235, 235, 235);
  --darker-grey: rgb(218, 218, 218);
  --dark-grey: rgb(77, 77, 77);
  --border-color: var(--darker-grey);
  --border-color-secondary: var(--darker-grey);
  --background-secondary: var(--light-grey);
  --font-color: var(--dark-grey);
}

* {
  font-family: Helvetica;
  color: var(--font-color);
  font-size: 12px;
  letter-spacing: 0.04em;
}