@font-face {
  font-family: "Aclonica";
  font-style: normal;
  font-weight: 400;
  src: local("Aclonica Regular"), local("Aclonica-Regular"),
    url(./1062ed358149e918e7597e80b5d735a5.gstatic.ttf) format("truetype");
}
