@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  src: local("Helvetica LT Pro Bold"), local("HelveticaLTPro-Bold"),
    url(./b6cde67a04204092aea2df9b2f462bae.gstatic.ttf) format("truetype");
}
